body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e3bdef, #ea5a63);
}

/* CENTER WRAPPER */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MODERN CARD */
.container {
  background: rgba(133, 194, 229, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(18, 7, 7, 0.2);
  border-radius: 20px;

  width: 380px;
  padding: 30px;
  text-align: center;

  color: white;

  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

/* TITLE */
.container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* COUNT */
.container h2 {
  font-size: 50px;
  margin: 20px 0;
  color: #00e5ff;
}

/* BUTTONS */
button {
  padding: 10px 18px;
  margin: 8px;
  font-size: 16px;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  background: linear-gradient(135deg, #00e5ff, #0077ff);
  color: white;

  transition: all 0.3s ease;
}

/* HOVER EFFECT */
button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 229, 255, 0.4);
}

/* RESET BUTTON DIFFERENT COLOR */
button:nth-child(4) {
  background: linear-gradient(135deg, #ff4d4d, #ff1a75);
}